<% provide(:title, @vol.volumeName) %>

<%= render 'layouts/navbar' %>

<div class="container alert-warning modal-content">
 <div class="card">
   <div align="center">
   <img class="card-img card-scale" src="" style="">
   </div>
   </div>
<h1>
  <%= @vol.volumeName %>
</h1>
<h3>
  <!--description goes here-->
</h3>
  <%= render 'reviews/vform'%>
</div>
</div>

<%= render 'layouts/footer'%>