<%= render 'layouts/front' %>
<% if @iss.blank? %>
  <h4>
      <div class = "container fixed-middle">
      There are no issues containing the term <%= params[:search] %>.
      </div>
</h4>
<% end %>