<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      
      <th>Profilepic</th>
      <th>Displayname</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% User.all.each do |user| %>
    
      <tr>
        <td><%= user.profilePic %></td>
        <td><a class="nav-link" href="/users/<% user.id %>"><%= user.displayName %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
