<p id="notice"><%= notice %></p>

<h1>Users</h1>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mango Comics</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

</head>
<table>
  <thead>
    <tr>
      
      <th>Profilepic</th>
      <th>Displayname</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    
      <tr>
        <td><img src=<%=user.profilePic%> width="80" height="80" alt=""></td>
        <td><%= link_to user.displayName, user %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
