<body>
   <div class = 'container'>
    <ul class="users">
    <% @review.each do |user| %>
    
      <%=user.inspect %>
        <%#= link_to user.displayName, user %>
        <%#end%>
    <% end %>
    </ul>
  
  </div>

    <%=render 'layouts/footer' %>
  </body>
