<footer class="py-5 bg-dark" id=footer>
      <div class="container">
        <h3>
        <p class="m-1 text-center text-white">Copyright &copy; MangoSoft LLC</p>
        </h3>
      </div>
</footer>