</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<footer class="py-5 bg-dark" id="footer">
      <div class="container">
        <p class="m-1 text-center text-white">Copyright &copy; MangoSoft LLC</p>
      </div>
      <!-- /.container -->
</footer>