<!DOCTYPE html>
<p id="special_content">
  <%= yield :special_content %>
</p>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mango Comics</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/stylesheets/heroic-features.css" rel="stylesheet">
    
    
     <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">Welcome<% if logged_in? %>, <%=@current_user.displayName%><% end %> ! <!-- calls userID--> </h1>
        <!--<a href="#" class="btn btn-primary btn-lg">Call to action!</a>-->
      </header>
  </head>
  
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">MangoComics</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="static_pages/home">Comic List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign In</a>
            </li>
            <li class="nav-item">
              <% if logged_in? %>
                <li>
                <%= link_to "Log out", logout_path, method: :delete %>
                </li>
              <% else %>
                  <a><%= link_to "Log in", login_path %></>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br />
    <br />
    <!--
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
      <h3>Track</h3>
      <p>Sign up and keep track of your favorite comic series as well those you want to avoid</p>
      <p></p>
      </div>
      <div class="col-sm-4">
      <h3>Community</h3>
      <p>Befriend other users and keep up to date whenever they post a review</p>
      </div>
      <div class="col-sm-4">
      <h3>Review</h3>
      <p>Give ratings and reviews on your favorite or your least favorite comics/series/franchises</p>
      </div>
    </div>
  </div>
  -->
  <div class="container">
    <div class="span12" style="border: 2px solid black">  
      <div class="row">
       <div class="col-sm-4">
        <img src="https://img.purch.com/o/aHR0cDovL3d3dy5uZXdzYXJhbWEuY29tL2ltYWdlcy9pLzAwMC8yMjYvMzAyL2lGRi8yMDIxXzFfMDYuanBn" class="img-fluid" alt="Responsive image" >
        </div>
        <div class="col-sm-6">
        <h2>X-MEN Meets ESCAPE FROM NEW YORK in Post-Apocalyptic 2012: LOST CHILDREN #1 Preview</h2>
        <p><a href="https://www.newsarama.com/39793-2021-lost-children-1-preview.html "><br /> Click here to read more </a></p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="span12" style="border: 2px solid black">  
      <div class="row">
       <div class="col-sm-4">
        <img src="https://img.purch.com/o/aHR0cDovL3d3dy5uZXdzYXJhbWEuY29tL2ltYWdlcy9pLzAwMC8yMjYvNTE1L2kwMi9DYXB0YWluX0FtZXJpY2FfMV92YXJfSnVza28uanBn" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-sm-6">
        <h2>JOE JUSKO Joins CAPTAIN AMERICA #1 For Variant</h2>
        <p><a href="https://www.newsarama.com/39835-joe-jusko-joins-captain-america-1-for-variant.html "> Click here to read more </a></p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="span12" style="border: 2px solid black">  
      <div class="row">
       <div class="col-sm-4">
        <img src="https://img.purch.com/o/aHR0cDovL3d3dy5uZXdzYXJhbWEuY29tL2ltYWdlcy9pLzAwMC8yMjYvMzc0L2lGRi9JTVRPTlkyMDE4MDAxX1hYX0lyb25NYW4yMDIwLmpwZw=="  class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-sm-6">
        <h2>TONY STARK IRON MAN #1's 'The Many Armors (20!) of Iron Man Variant Covers</h2>
        <p><a href="https://www.newsarama.com/39799-tony-stark-iron-man-1-s-the-many-armors-20-of-iron-man-variant-covers.html"> Click here to read more </a></p>
        </div>
      </div>
    </div>
  </div>

  <h2><h2 id = "change" > 
      Change Logs:
  </h2>
  
  
  <div class = "ex1">
    ver. 0.3 sign up and sign in complete <br />
    ver. 0.2 10 comic entries added <br />
    ver. 0.1 website online <br />
  </div>

    </body>
   <!-- Footer -->
    <footer class="bg-dark">
      <div id="footer">
        <p class="text-center text-white">Copyright &copy; MangoSoft LLC</p>
      </div>

</html>
