   <% provide(:title,  @iss.issueID) %>
  <% provide(:title, @iss.display) %>
    <div class = "container">
      <div class = "row">
        <div id: "comments">
          <div class="col-sm-12">
            <% @iss.IComments.each do |iComments| %>
              <% User.all.each do |user| %>
               <% if(user.userID == iComments.user_id)%>
                  <p>
                    <img src = <%=user.profilePic%> width="80" height = "80" alt"">  <%=user.displayName%>
                  </p>
                  <%end%>
                <%end%>
            <p>
            
            </p>
            <p>  Date: <%=iComments.date%> <br /></p>
            <p id = "comments"> <%=iComments.body%></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
